body {
  color: #FFF;
  font-family: monospace;
  background-color: #2C001E;
}

span.alias{
  text-transform: lowercase;
}

.workspace {
   margin: 0;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
